KERNEL=="event[0-19]*", SUBSYSTEM=="input", SUBSYSTEMS=="input", ATTRS{id/product}=="00ff", ATTRS{id/vendor}=="05f3", TAG+="uaccess", GROUP="footswitch", MODE="0660"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0666", TAG+="uaccess", TAG+="udev-acl"